:root {
  --outline-color: #295089;
}

/* dark theme */
/* canvas */
html[data-theme=dark] .canvas {
  background-color: #11111f;
  background-image: url('../imgs/bg-dark.svg');
}

/* navigation */
html[data-theme=dark] .container,
html[data-theme=dark] .dropdown {
  background: #11111f;
}
html[data-theme=dark] .btnicon {
  color: #fff;
}
html[data-theme=dark] .btnicon > * {
  color: #fff;
}
html[data-theme=dark] .navcontent > .notree:first-of-type > nav {
  box-shadow: 0 0 .5rem #4238b5;
}
html[data-theme=dark] .menu {
  background: transparent;
  box-shadow: 0 0 .5rem #4f45bc;
}
html[data-theme=dark] .dropdown {
  background-color: #1c212c;
  box-shadow: 0 0 .5rem hsl(0deg 0% 0% / 40%);
}

/* light theme */
/* canvas */
html[data-theme=light] .canvas {
  background-color: #fff;
  background-image: url('../imgs/bg.svg');
}

/* navigation */
html[data-theme=light] .container,
html[data-theme=light] .dropdown {
  background: #fff;
}
html[data-theme=light] .navcontent > .notree:first-of-type > nav {
  box-shadow: 0 0 .5rem #c5bfff;
}