/* imports */
@import url("../libraries/font-awesome/css/all.min.css");
/* @import url("../libraries/daisyui/daisyui.css"); */
@import url("../libraries/tailwind/tailwind.min.css");

:root {
  /*   --outline-color: #3b82f6; */
  --outline-color: #295089;
}

/* It's supposed to look like a tree diagram */
.tree, .tree ul, .tree li {
  list-style: none;
  margin: 0;
  padding: 0;
  position: relative;
}

.tree {
  margin: 0 0 1em;
  text-align: center;
}
.tree, .tree ul {
  display: table;
}
.tree ul {
  width: 100%;
}
.tree li {
  display: table-cell;
  padding: .5em 0;
  vertical-align: top;
}
/* _________ */
.tree li:before {
  outline: solid 1px var(--outline-color);
  content: "";
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
}
.tree li:first-child:before {left: 50%;}
.tree li:last-child:before {right: 50%;}

.tree code {
  border: solid .1em var(--outline-color);
  border-radius: .5em;
  display: inline-block;
  margin: 0 .5em .5em;
  position: relative;
}
/* | */
.tree ul:before,
.tree code:before {
  outline: solid 1px var(--outline-color);
  content: "";
  height: .5em;
  left: 50%;
  position: absolute;
}
.tree ul:before {
  top: -.5em;
}
.tree code:before {
  top: -.55em;
}

/* The root node doesn't connect upwards */
.tree > li {margin-top: 0;}
.tree > li:before,
.tree > li:after,
.tree > li > code:before,
.tree > li > span:before {
  outline: none;
}

.tree .round {
  position: relative;
  /*   top: .5rem; */
  margin-bottom: -.3rem;
}
.tree .round > li {
  position: relative;
  top: -.4rem;
}
.tree .round > li > button {
  padding: .2rem .5rem;
  border: 1px solid var(--outline-color);
  outline: solid 1px var(--outline-color);
  border-radius: 99999rem;
}